/* Estilos gerais */
@media screen and (max-width: 768px) {
    /* Ajustes para melhorar a visualização em dispositivos móveis */


    .casaalto h1 {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .casaalto {
        padding: 56px 0;
        background-size: cover;
    }
    /* Reduza o tamanho da fonte para melhor legibilidade */
    body {
      font-size: 14px;
    }
  
    /* Ajuste o espaçamento entre os elementos para evitar aglomeração */
    .container {
      padding: 10px;
    }
  
    /* Ajuste o tamanho das imagens para se encaixar melhor nas telas menores */
    .carousel-item img {
      max-width: 100%;
      height: auto;
    }
  
    /* Modifique o layout das seções para empilhar verticalmente */
    .carousel-inner,
    .description,
    .value,
    .form,
    .location {
      margin-bottom: 20px;
    }
  
    /* Ajuste a largura máxima dos elementos para preencher a tela */
    .container {
      max-width: 100%;
    }

    .navbar-collapse {
        position: fixed;
        top: 100px; /* Ajuste a altura conforme necessário */
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 10px;
        overflow-y: auto;
        z-index: 9999;
    }

    /* Ajuste a posição do botão de menu na barra de navegação */
    .navbar-toggler {
        position: absolute;
        top: 20px; /* Ajuste a posição conforme necessário */
        right: 10px;
    }

    
  }
  
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    padding: 40px;
    text-align: center;
}

/* Barra de navegação */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
  }
  

nav {
    background-color: #333;
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
}

.menu-items li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-items li a:hover {
    background-color: #555;
}

/* Página Inicial */

#home {
    background-color: #f2f2f2;
}
.casaalto {
    padding: 230px;
    text-align: center;
    background-image: url('imagens/casa-alto-padrao-01.jpg');
    background-size:cover;
    background-position: center;
}
.casaalto h1 {
    color: orangered;
    text-shadow: 2px 2px 4px white;
}
.casaalto {
    margin-bottom: 40px;
  }

.Destaque {
    text-align: center;
  }
  
  .Destaque h1 {
    margin: 0 auto;
  }
  
  
  .card-img-card1 {
    max-width: 300px;
    height: auto;
  }

  .card-img-card2 {
    max-width: 100%;
    height: 285px;
  }

  .card-img-card3 {
    max-width: 100%;
    height: 260px;
  }

  .btn-elegante {
    background-color: #232df8;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-elegante:hover {
    background-color: #02ab04;
  }

  .fale-conosco {
    margin-bottom: 40px;
  }

  .btn-bonito {
    background-color: #232df8;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn-bonito:hover {
    background-color: orangered;
  }
  
  





/* Imóveis */

.property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card-img-imv1,
.card-img-imv2,
.card-img-imv3,
.card-img-imv4 {
  height: 250px;
  object-fit: cover;
}

  



/* Contato */

.contact-info {
    margin-bottom: 40px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-form {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #232df8;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #02ab04;
}

/* Casa Moderna */
.titulo {
    font-family: 'Nunito Sans', sans-serif;
  }
  
 /* Estilos para o carrossel de fotos */
.carousel-item img {
    max-width: 500px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    transform: translateY(750%);
    height: 40px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-color: #000000; /* Altere para a cor desejada */
  }
  
  .carousel-control-prev-icon:before,
  .carousel-control-next-icon:before {
    font-size: 20px;
    color: #ffffff; /* Altere para a cor desejada */
  }
  
  .carousel {
    background-color: #F2F2F2; /* Altere para o tom de cinza desejado */
  }
  .valor-imovel {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: green;
  }
  

/* Rodapé */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
